//?################################### Variables #################################################
$bgcolor: #f1f5fd;
$primary-color: #6f5de7;
$text-color: #828286;
$main-text-color: #333333;
//?################################### CS RESET #################################################
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
}
//?################################### Navbar Styling #################################################
#navbar{
    background-color: $bgcolor;
    position:fixed;
    width: 100%;
    z-index: 99;
    .container{
        display: flex;
        margin: auto;
        width: 75vw;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        justify-content: space-between;
        .left{
            h1{
                font-size: 3.5rem;
            }
        }
        .right{
            list-style: none;
            li{
                margin-top: 1rem;
                display: inline-block;
                a{
                    font-size: 2rem;
                    text-decoration: none;
                    padding-right: 4rem;
                    color: $text-color;
                    transition: all .3s ease-in-out;
                    &:hover{
                        color: $primary-color;
                        text-shadow: 0px 0px 10px #6f5de77a;
                    }
                }
            }
        }
    }
}
//?################################### Home Styling #################################################
#home{
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 110vh;
    background-color: $bgcolor;
    color: $main-text-color;
    .container{
        .left{
            h1{
                font-size: 5rem;
                width: 40vw;
                color: $main-text-color;
            }
            p{
                font-size: 1.8rem;
                color: $text-color;
                margin-top: 3rem;
                width: 40vw;
            }
            h3{
                font-size: 2rem;
                font-weight: 400;
                color: $main-text-color;
                margin-top: 4rem;
            }
            form{
                input{
                    width: 400px;
                    margin-top: 1.5rem;
                    height: 50px;
                    font-size: 1.5rem;
                    padding-left: 1rem;
                    border: 1px solid #33333328;
                }
                button{
                    width: 100px;
                    height: 40px;
                    font-size: 1.5rem;
                    transform: translateX(-105px);
                    background-color: $primary-color;
                    color: #fff;
                    border: none;
                    outline: none;
                    &:active{
                        background-color: hsl(248, 94%, 64%);
                    }
                }
            }
        }
    }
}
//?################################### Works Styling #################################################
#work{
    color: $main-text-color;
    .container{
        transform: translateY(-60px);
        width: 75vw;
        margin: auto;
        box-shadow: 0px 0px 20px 0px rgba(170, 170, 170, 0.452);
        background-color: #fff;
        h1{
            font-size: 3rem;
            text-align: center;
            padding-top: 3rem;
            padding-bottom: 2rem;
        }
        .contentContainer{
            display: flex;
            justify-content: space-around;
            padding: 5rem;
            padding-top: 3rem;
            .content{
                display: flex;
                flex-direction: column;
                justify-content: center ;
                margin-left: .2rem;
                box-shadow: 0px 0px 5px 0px rgba(170, 170, 170, 0.452);
                padding: 2rem 3rem;
                &:hover{
                    background-color: $bgcolor;
                    cursor: pointer;
                    .icons{
                        .icon{
                            background-color: #fff;
                        }
                    }
                }
                .icons{
                    padding-top: 3rem;
                    text-align: center;
                    padding-bottom: 3rem;
                    .icon{
                        font-size: 6rem;
                        color: $primary-color;
                        border-radius: 50%;
                        padding: 1.8rem;
                        background-color: $bgcolor;
                    }
                }
                h2{
                    font-size: 2rem;
                    text-align: center;
                    font-weight: 600;
                }
                p{
                    font-size: 1.7rem;
                    color: $text-color;
                    padding: 2rem .6rem;
                    text-align: center;
                    padding-bottom: 5rem;
                }
            }
        }
    }
}
//?################################### About Styling #################################################
#about{
    color: $main-text-color;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .container{
        width: 65vw;
        margin: auto;
        display: flex;
        .right{
            .img{
                border-radius: 5rem;
            }
        }
        .left{
            padding:0rem 7rem;
            h4{
                font-size: 1.5rem;
                color: $text-color;
            }
            h1{
                font-size: 2.5rem;
                margin-top: 4rem;
            }
            h5{
                display: inline-block;
                padding: 1rem;
                border-radius: 4rem;
                font-size: 2rem;
                font-weight: 400;
                color: $primary-color;
                border: 2px solid $primary-color;
                &:hover{
                    color: #fff;
                    background-color: $primary-color;
                }
            }
            .contentContainer{
                margin-top: 4rem;
                .content{
                    display: flex;
                    padding-bottom: 4rem;
                    h3{
                        margin-top: 1.5rem;
                        margin-right: 2rem;
                        font-size: 2.5rem;
                        font-weight: 400;
                        color: $primary-color;
                        border: 1px solid $primary-color;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        padding-left: 1.2rem;
                        padding-top: .2rem;
                    }
                    .desc{
                        h2{
                            font-size: 1.8rem;
                            padding-bottom: 1rem;
                        }
                        p{
                            font-size: 1.3rem;
                            width: 30vw;
                        }
                    }
                }
            }
        }
    }
}
//?################################### Services Styling #################################################
#services{
    color: $main-text-color;
    h1{
        font-size: 3rem;
        margin-top: 5rem;
        text-align: center;
        margin-bottom: 3rem;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 95vw;
        margin: auto;
        .content{
            width: 40rem;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.342);
            margin-bottom: 3rem;
            height: 30rem;
            padding: 4rem;
            cursor: pointer;
            &:hover{
                background-color: $bgcolor;
                .icons{
                    background-color: #fff;
                }
            }
            .icons{
                background-color: $bgcolor;
                border-radius: 50%;
                display: inline-block;
                padding: 1rem;
                .icon{
                    font-size: 3.5rem;
                    color: $primary-color;
                }
            }
            h2{
                padding-top: 3rem;
                font-size: 2rem;
                padding-bottom: 1rem;
            }
            p{
                color: $text-color;
                font-size: 1.5rem;
            }
        }
    }
}