//?################################### Variables #################################################
$bgcolor: #f1f5fd;
$primary-color: #6f5de7;
$text-color: #828286;
$main-text-color: #333333;
//?################################### CS RESET #################################################
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
}
//?################################### Navbar Styling #################################################
#navbar{
    background-color: $bgcolor;
    position:fixed;
    width: 100%;
    z-index: 99;
    .container{
        display: flex;
        margin: auto;
        width: 75vw;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        justify-content: space-between;
        .left{
            h1{
                font-size: 3.5rem;
            }
        }
        .right{
            list-style: none;
            li{
                margin-top: 1rem;
                display: inline-block;
                a{
                    font-size: 2rem;
                    text-decoration: none;
                    padding-right: 4rem;
                    color: $text-color;
                    transition: all .3s ease-in-out;
                    &:hover{
                        color: $primary-color;
                        text-shadow: 0px 0px 10px #6f5de77a;
                    }
                }
            }
        }
    }
}
//?################################### Home Styling #################################################
#home{
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110vh;
    background-color: $bgcolor;
    color: $main-text-color;
    .container{
        padding: 0rem 4rem;
        .left{
            h1{
                font-size: 5rem;
                width: 40vw;
                color: $main-text-color;
            }
            p{
                font-size: 1.8rem;
                color: $text-color;
                margin-top: 3rem;
                width: 40vw;
            }
            h3{
                font-size: 2rem;
                font-weight: 400;
                color: $main-text-color;
                margin-top: 4rem;
            }
            form{
                input{
                    width: 40rem;
                    margin-top: 1.5rem;
                    height: 50px;
                    font-size: 1.5rem;
                    padding-left: 1rem;
                    border: 1px solid #33333328;
                }
                button{
                    width: 100px;
                    height: 40px;
                    font-size: 1.5rem;
                    transform: translateX(-105px);
                    background-color: $primary-color;
                    color: #fff;
                    border: none;
                    outline: none;
                    &:active{
                        background-color: hsl(248, 94%, 64%);
                    }
                }
            }
        }
    }
}
//?################################### Works Styling #################################################
#work{
    color: $main-text-color;
    .container{
        transform: translateY(-60px);
        width: 75vw;
        margin: auto;
        box-shadow: 0px 0px 20px 0px rgba(170, 170, 170, 0.452);
        background-color: #fff;
        h1{
            font-size: 3rem;
            text-align: center;
            padding-top: 3rem;
            padding-bottom: 2rem;
        }
        .contentContainer{
            display: flex;
            justify-content: space-around;
            padding: 5rem;
            padding-top: 3rem;
            .content{
                display: flex;
                flex-direction: column;
                justify-content: center ;
                margin-left: .2rem;
                box-shadow: 0px 0px 5px 0px rgba(170, 170, 170, 0.452);
                padding: 2rem 3rem;
                &:hover{
                    background-color: $bgcolor;
                    cursor: pointer;
                    .icons{
                        .icon{
                            background-color: #fff;
                        }
                    }
                }
                .icons{
                    padding-top: 3rem;
                    text-align: center;
                    padding-bottom: 3rem;
                    .icon{
                        font-size: 6rem;
                        color: $primary-color;
                        border-radius: 50%;
                        padding: 1.8rem;
                        background-color: $bgcolor;
                    }
                }
                h2{
                    font-size: 2rem;
                    text-align: center;
                    font-weight: 600;
                }
                p{
                    font-size: 1.7rem;
                    color: $text-color;
                    padding: 2rem .6rem;
                    text-align: center;
                    padding-bottom: 5rem;
                }
            }
        }
    }
}
//?################################### About Styling #################################################
#about{
    color: $main-text-color;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .container{
        width: 65vw;
        margin: auto;
        display: flex;
        .right{
            .img{
                border-radius: 5rem;
            }
        }
        .left{
            padding:0rem 7rem;
            h4{
                font-size: 1.5rem;
                color: $text-color;
            }
            h1{
                font-size: 2.5rem;
                margin-top: 4rem;
            }
            h5{
                display: inline-block;
                padding: 1rem;
                border-radius: 4rem;
                font-size: 2rem;
                font-weight: 400;
                color: $primary-color;
                border: 2px solid $primary-color;
                &:hover{
                    color: #fff;
                    background-color: $primary-color;
                }
            }
            .contentContainer{
                margin-top: 4rem;
                .content{
                    display: flex;
                    padding-bottom: 4rem;
                    h3{
                        margin-top: 1.5rem;
                        margin-right: 2rem;
                        font-size: 2.5rem;
                        font-weight: 400;
                        color: $primary-color;
                        border: 1px solid $primary-color;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        padding-left: 1.2rem;
                        padding-top: .2rem;
                    }
                    .desc{
                        h2{
                            font-size: 1.8rem;
                            padding-bottom: 1rem;
                        }
                        p{
                            font-size: 1.3rem;
                            width: 30vw;
                        }
                    }
                }
            }
        }
    }
}
//?################################### Services Styling #################################################
#services{
    color: $main-text-color;
    h1{
        font-size: 3rem;
        margin-top: 5rem;
        text-align: center;
        margin-bottom: 3rem;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 95vw;
        margin: auto;
        .content{
            width: 40rem;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.342);
            margin-bottom: 3rem;
            height: 30rem;
            padding: 4rem;
            cursor: pointer;
            &:hover{
                background-color: $bgcolor;
                .icons{
                    background-color: #fff;
                }
            }
            .icons{
                background-color: $bgcolor;
                border-radius: 50%;
                display: inline-block;
                padding: 1rem;
                .icon{
                    font-size: 3.5rem;
                    color: $primary-color;
                }
            }
            h2{
                padding-top: 3rem;
                font-size: 2rem;
                padding-bottom: 1rem;
            }
            p{
                color: $text-color;
                font-size: 1.5rem;
            }
        }
    }
}
//?################################### Contact Styling #################################################
#contact{
    color: $main-text-color;
    .container{
        padding-top: 5rem;
        display: flex;
        width: 80vw;
        margin: auto;
        padding-bottom: 5rem;
        .left{
            h1{
                font-size: 2.5rem;
                padding-bottom: 2rem;
            }
            p{
                width: 30vw;
                padding-bottom: 3rem;
                color: $text-color;
                font-size: 1.8rem;
            }
        }
        .right{
            .form{
                margin-top: 10rem;
                form{
                    .name{
                        font-size: 2.5rem;
                        input{
                            width: 300px;
                            height: 35px;
                            padding-left: .5rem;
                            margin-left: 1rem;
                        }
                    }
                    .con{
                        font-size: 2.5rem;
                        input{
                            width: 300px;
                            height: 35px;
                            padding-left: .5rem;
                            margin-left: 1rem;
                        }
                    }
                    font-size: 2.5rem;
                        input{
                            width: 610px;
                            margin-top: 1.5rem;
                            height: 35px;
                            padding-left: .5rem;
                            margin-left: 1rem;
                        }

                        button{
                            margin-top: 3rem;
                            margin-left: 1rem;
                            border: none;
                            outline: none;
                            background-color: $primary-color;
                            color: #fff;
                            padding: 1rem 3rem;
                            font-size: 2rem;
                            border-radius: .3rem;
                        }
                }
            }
        }
    }
}
//?################################### Footer Styling #################################################
#footer{
    background-color: rgb(27, 35, 51);
    .container{
        color: #fff;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 2.5rem;
            text-align: center;
            padding: 2rem;
            font-weight: 400;
        }
        .icons{
            a{
                font-size: 5rem;
                color: $bgcolor;
                padding: 0rem 2rem;
                &:hover{
                    color: $primary-color;
                }
            }
        }
        p{
            width: 90vw;
            border-top: 1px solid $text-color;
            color: $text-color;
            font-size: 2rem;
            text-align: center;
            padding: 1rem;
        }
    }
}
//?################################### Responsiveness #################################################
@media(max-width:1150px){
    #contact{
        .container{
            flex-direction: column;
        }
    }
}
@media(max-width:770px){
    #contact{
        .container{
            flex-direction: column;
            .right{
                .form{
                    input{
                        width: 100% !important;
                    }
                }
            }
        }
    }
    #home{
        flex-direction: column;
        .container{
            .right{
                display: none;
            }
        }
    }
}
@media(max-width:900px){
    #work{
        .container{
            .contentContainer{
                flex-direction: column;
            }
        }
    }
    #about{
        .container{
            flex-direction: column;
            width: 100%;
            .left{
                padding: 4rem;
                .contentContainer{
                    .desc{
                        p{
                            width: 100%;
                        }
                    }
                }
            }
            .right{
                display: none;
            }
        }
    }
}
@media(max-width:750px){
    html{
        font-size: 50%;
    }
    #navbar{
        display: none;
    }
}
@media(max-width:400px){
    #home{
        .container{
            padding: 0;
        }
    }
    #contact{
        .container{
            .left{
                p{
                    width: 100%;
                }
            }
        }
    }
    #services{
        .container{
            .content{
                width: 100%;
            }
        }
    }
    #works{
        .container{
            // width: 20%;
            .contentContainer{
                padding: 0;
                .content{
                }
            }
        }
    }
}