//?################################### Variables #################################################
$bgcolor: #f1f5fd;
$primary-color: #6f5de7;
$text-color: #828286;
$main-text-color: #333333;
//?################################### CSS RESET #################################################
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
}
//?################################### Navbar Styling #################################################
#navbar{
    background-color: $bgcolor;
    position:fixed;
    width: 100%;
    .container{
        display: flex;
        margin: auto;
        width: 75vw;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        justify-content: space-between;
        .left{
            h1{
                font-size: 3.5rem;
            }
        }
        .right{
            list-style: none;
            li{
                margin-top: 1rem;
                display: inline-block;
                a{
                    font-size: 2rem;
                    text-decoration: none;
                    padding-right: 4rem;
                    color: $text-color;
                    transition: all .3s ease-in-out;
                    &:hover{
                        color: $primary-color;
                        text-shadow: 0px 0px 10px #6f5de77a;
                    }
                }
            }
        }
    }
}
#home{
    padding-top: 8rem;
}
//?################################### Home Styling #################################################